<div>
  <div class="search-container">
    <app-search></app-search>
  </div>

  <div cdkDropListGroup class="list-container">
    <div class="section-container">
      <h2>Pending</h2>

      <div
        cdkDropList
        #pendingList="cdkDropList"
        [cdkDropListData]="pending"
        [cdkDropListConnectedTo]="[pendingList]"
        class="item-card"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="item item-pending"
          *ngFor="let item of pending; let index"
          cdkDrag
        >
          <div class="todo-item">
            {{ item.what }}
            <br />
            {{ item.finishBy | date: "MMM d, y" }}
          </div>

          <div class="gif-container" *ngIf="overdue(item.finishBy!)">
            <img class="gif-image" src="assets/gifs/overdue.gif" />
          </div>

          <button mat-icon-button>
            <mat-icon (click)="deleteTodo(item)">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="section-container">
      <h2>In Progress</h2>

      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[inProgressList]"
        class="item-card"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="item item-in-progress"
          *ngFor="let item of inProgress"
          cdkDrag
        >
          <div class="todo-item">
            {{ item.what }}
            <br />
            {{ item.finishBy | date: "MMM d, y" }}
          </div>

          <div class="gif-container" *ngIf="overdue(item.finishBy!)">
            <img class="gif-image" src="assets/gifs/overdue.gif" />
          </div>
          <button mat-icon-button>
            <mat-icon (click)="deleteTodo(item)">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="section-container">
      <h2>Done</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[doneList]"
        class="item-card"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="item item-finishby" *ngFor="let item of done" cdkDrag>
          <div class="todo-item">
            {{ item.what }}
            <br />
            {{ item.finishBy | date: "MMM d, y" }}
          </div>
          <div class="gif-container" *ngIf="overdue(item.finishBy!)">
            <img class="gif-image" src="assets/gifs/overdue.gif" />
          </div>
          <button mat-icon-button>
            <mat-icon (click)="deleteTodo(item)">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="add-item-button-container">
    <button mat-icon-button class="add-item-button">
      <mat-icon (click)="openDialog()">add</mat-icon>
    </button>
  </div>
</div>
