.search-container {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10vw;
}

.list-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  height: 100%;
  margin-left: 1em;
}

.section-container {
  height: 50vh;
  overflow: scroll;
}

.item-card {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

h2 {
  align-items: center;
  justify-content: center;
  display: flex;

  border: solid 0px;
  border-radius: 5px;
  padding: 0.5em;
  font-weight: bold;
  font-family: fantasy;
}

.section-container {
  width: 33vw;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.item {
  border-bottom: solid 1px #ccc;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 1em;
  font-family: fantasy;
  font-weight: bold;
}

.todo-item {
  align-items: center;
  justify-content: center;
  width: 60%;
  overflow-wrap: break-word;
  padding: 1em;
}

.item-pending {
  background-color: #ef2d56;
}

.item-in-progress {
  background-color: #fec601;
}

.item-finishby {
  background-color: #0cce6b;
}

.gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  // margin-left: 5em;
}

.gif-image {
  height: 90%;
  width: 100%;
}

.delete-todo {
  width: 10%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add-item-button-container {
  position: fixed;
  bottom: 2vh;
  left: 90vw;
}

.add-item-button {
  background-color: #673ab7;
  color: white;
}

.empty-state-gif {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-gif {
  height: 90%;
  width: 90%;
}

@media (max-width: 650px) {
  .search-container {
    height: 9vh;
  }
  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }

  h2 {
    margin: 0;
  }
  .empty-state-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 95%;
  }
  .empty-gif {
    height: 20vh;
    width: 70%;
  }

  .section-container {
    height: 27vh;
    overflow: scroll;
    width: 90vw;
    margin-top: 0;
    margin-bottom: 1vh;
  }

  .item-card {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 70%;
  }

  .item {
    margin: 10px;
  }
}
