.search-container {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10vw;
  margin-top: 5vh;
}

.list-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  height: 80vh;
}

.section-container {
}

.item-card {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

h2 {
  align-items: center;
  justify-content: center;
  display: flex;
}

.section-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.item-pending {
  background-color: rgb(241, 155, 155);
}

.item-in-progress {
  background-color: rgb(242, 242, 155);
}

.item-finishby {
  background-color: lightgreen;
}

.gif-container {
  width: 50%;
  margin-left: 5em;
}

.gif-image {
  height: 90%;
  width: 50%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add-item-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
}

.add-item-button {
  background-color: #673ab7;
  color: white;
}

@media (max-width: 650px) {
  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
