<div>
  <div cdkDropListGroup class="list-container" style="height: 80vh">
    <div class="example-container">
      <h2>Pending</h2>

      <div
        cdkDropList
        #pendingList="cdkDropList"
        [cdkDropListData]="pending"
        [cdkDropListConnectedTo]="[pendingList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          style="background-color: rgb(241, 155, 155)"
          class="example-box"
          *ngFor="let item of pending"
          cdkDrag
        >
          {{ item }}
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>In Progress</h2>

      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[inProgressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          style="background-color: rgb(242, 242, 155)"
          class="example-box"
          *ngFor="let item of inProgress"
          cdkDrag
        >
          {{ item }}
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          style="background-color: lightgreen"
          class="example-box"
          *ngFor="let item of done"
          cdkDrag
        >
          {{ item }}
        </div>
      </div>
    </div>
  </div>

  <div
    class="add-list-button-container"
    style="display: flex; justify-content: flex-end; margin-right: 10vw"
  >
    <button
      mat-icon-button
      style="background-color: #673ab7; color: white"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon (click)="openDialog()">add</mat-icon>
    </button>
  </div>
</div>
