<mat-drawer-container class="example-container" autosize>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary" mat-toolbar style="font-family: fantasy">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon type="button" mat-button (click)="drawer.toggle()"
          >menu</mat-icon
        >
      </button>
      <div
        style="
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <span>Task Tracker</span>
      </div>

      <div *ngIf="loggedIn" style="display: flex; align-items: center">
        <img
          style="height: 90%; width: 50%; border-radius: 10px; cursor: pointer"
          [matMenuTriggerFor]="menu"
          src="{{ user.photoUrl }}"
        />
        <mat-menu #menu="matMenu">
          <button disabled="" mat-menu-item>{{ user.name }}</button>
          <button mat-menu-item (click)="signOut()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </div>
</mat-drawer-container>

<mat-drawer #drawer class="example-sidenav" mode="side">
  <mat-toolbar
    style="display: flex; align-items: center; justify-content: center"
    color="primary"
    mat-toolbar
  >
    <button mat-mini-fab (click)="drawer.toggle()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</mat-drawer>

<router-outlet></router-outlet>
